// task
$task-bg-color: #5E8ED2;
// toolbar
$toolbar-bg-color: #343539;
// filter
$filter-border-color:#aaa;
// shared
$button-border-color:#aaa;
$button-hover-border-color:#666;
//menu
$menu-bg-color:#343539;
$menu-item-color:#dde;
$menu-item-border-color:#fff;
$menu-item-hover-color:#6ADBE2;