@import '../../../assets/colors';
@mixin rounded($radius:5px) {
    border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -o-border-radius: $radius;
}

@mixin menu {
    list-style: none;
}

@mixin menu-item($border:0px) {
    padding: 1em;
    color: $menu-item-color;
    // &:not(:last-of-type) {
    //     border-right: $border solid $menu-item-border-color;
    // }
    &:hover {
        color: $menu-item-hover-color;
    }
    .fa {
        margin-right: .5em;
    }
}

@mixin input-text {
    padding: .5em .2em;
    font-size: 100%;
    // width: 95%;
    // width: 95%;
    // margin: 1em 2.5%;
    @include rounded;
}

@mixin input-color {
    font-size: 100%;
    width: 2em;
    height: 2.5em;
    @include rounded;
}