<div class="modal-window-content"
    (click)="onSelect()"
    *ngIf="show">
    <ng-content></ng-content>
    <div class="modal-window-footer"
        (click)="onClose()">
        <i class="fa fa-times"></i>Close
    </div>
</div>
<div class="modal-window-bg"
    *ngIf="show" (click)="onClose()">
</div>