@import '../../../assets/colors';
@import '../../../assets/mixins';
:host {
    position: relative;
    display: block;
    &.up-arrow {
        .modal-window-content:after {
            bottom: 100%;
            left: 50%;
            border-bottom-color: $menu-bg-color;
            border-width: .7em;
            margin-left: -.7em;
        }
        &.arrow-25 {
            .modal-window-content:after {
                left: 25%;
            }
        }
    }
    &.left-arrow {
        .modal-window-content:after {
            right: 100%;
            top: 50%;
            border-right-color: $menu-bg-color;
            border-width: .7em;
            margin-top: -.7em;
        }
    }
}

.modal-window-bg {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-window-content {
    position: absolute;
    z-index: 2000;
    background-color: $menu-bg-color;
    @include rounded;
    .modal-window-footer {
        @include menu-item;
    }
    &:after {
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
}

// mobile responsivity
@media screen and (max-width: 450px) {
    :host {
        top: 0!important;
        left: 0!important;
    }
    .modal-window-bg {
        display: none;
    }
    .modal-window-content {
        position: absolute;
        left: 0;
        width: 100%;
        height: auto;
        top: 0.5em;
        &:after {
            bottom: -200%;
            left: -100%
        }
    }
}