<div class="filter">
	<span class="trigger"
		(click)="toggleHideCompleted()"
		[class.off]="isHideCompleted">
		<i class="fa fa-check-square-o">
			Completed</i>
	</span>

	<span *ngFor="let tag of tags | orderTagBy:['use']"
		class="trigger" (click)="toggleHideByTag(tag)"
		[style.backgroundColor]="tag.color"
		[class.off]="tag.hide">
		<i class="fa fa-tag">
			{{tag.name}}</i>
	</span>
</div>