@import '../../../assets/colors';
@import '../../../assets/mixins';
.filter {
    margin-top: .5em;
    width: 100%;
    text-align: center;
    font-size: 90%;
    .trigger {
        border: 1px solid $button-border-color;
        @include rounded(100px);
        padding: 0 .5em;
        cursor: pointer;
        margin: .2em;
        &.off {
            opacity: .5;
        }
        &:hover {
            border-color: $button-hover-border-color;
        }
    }
}

// mobile responsivity
@media screen and (max-width: 450px) {
    .filter {
        font-size: 110%;
        .trigger {
            text-align: left;
            display: block;
            width: 95%;
            margin: 0 auto .2em auto;
        }
    }
}