<div>
    <todo-task [task]="newTask">
    </todo-task>
</div>
<!--todo test-->
<ul class="list-unstyled">
    <li *ngFor="let task of tasks | orderTaskBy:['date','star','completed']">

        <todo-task [task]="task"
            *ngIf="!(task.checked && hideCompleted)"></todo-task>
    </li>
</ul>