@import './font-awesome/font-awesome.scss';
// @import '../app/shared/modal-window/modal-window.component.scss';
// @import '../app/shared/todo-toolbar/todo-toolbar.component.scss';

/* Reset */

html, body, div, ul, li {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: default;
}


/* Box-sizing border-box */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* Set up a default font and some padding to provide breathing room */

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*disable dbl click select*/

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.text-center {
  text-align: center;
}

