<div *ngIf="!isHideByTag()"
    class="animate">

    <div class="task" [class.inner]="task.inner">

        <div class="task-header text-right">

            <div class="star" [class.starred]="task.star"
                *ngIf="!task.inner && !task._isNewTaskForm"
                (click)="toggleStar()">
                <i class="{{'fa fa-star'+(task.star? '':'-o')}}"></i>
            </div>

            <div class="date" *ngIf="!task._isNewTaskForm">
                {{task.date | date:'shortDate'}}
            </div>

            <div *ngFor="let tag of getTaskTags() | orderTagBy:['use']"
                (click)="unselectTag(tag)"
                [style.borderTop]="'5px solid '+tag.color">{{tag.name}}
            </div>

            <div *ngIf="!task._isNewTaskForm && !task.assign"
                class="menu-trigger"
                (click)="isShowMenu=true">
                <i class="fa fa-bars"></i>
            </div>
            <div *ngIf="task._isNewTaskForm || task.assign"
                class="menu-trigger"
                (click)="isShowTags=true">
                <i class="fa fa-tag"></i>
            </div>

        </div>
        <!--task menu-->
        <modal-window [show]="isShowMenu"
            class="task-menu"
            (close)="isShowMenu=false">
            <ul class="menu">
                <li (click)="isShowTags=true">
                    <i class="fa fa-tag"></i>
                    Add Tag
                </li>
                <li (click)="doEdit()">
                    <i class="fa fa-pencil"></i>
                    Edit Title
                </li>
                <li (click)="doSplit()">
                    <i class="fa fa-list-ol"></i>
                    Split to Subtasks
                </li>
                <li *ngIf="task.child.length===0"
                    (click)="isShowFriends=true">
                    <i class="fa fa-user"></i>
                    Assign to Friend
                </li>
                <li (click)="doDelete()">
                    <i class="fa fa-trash"></i>
                    Delete
                </li>
            </ul>
        </modal-window>

        <!--tags menu-->
        <modal-window [show]="isShowTags"
            class="tags-menu"
            (close)="isShowTags=false">
            <ul class="menu">
                <li *ngFor="let tag of getAllTags() | orderTagBy:['use','ignore']:task.tags"
                    (click)="selectTag(tag)"
                    [style.borderLeft]="'5px solid '+tag.color">{{tag.name}}
                </li>
            </ul>
        </modal-window>

        <!--friends menu-->
        <modal-window [show]="isShowFriends"
            class="friends-menu"
            (close)="isShowFriends=false">
            <ul class="friends">
                <li *ngFor="let friend of getFriends()"
                    (click)="assignFriend(friend)">
                    <img [src]="friend.image"
                        class="friend-image">
                    <div class="friend-tags">
                        <todo-tag *ngFor="let tag of getFriendTags(friend)"
                            [tag]="tag">
                        </todo-tag>
                    </div>
                    <div class="friend-name">{{friend.name}}</div>
                </li>
            </ul>
        </modal-window>

        <!--<todo-tag *ngFor="let tag of getTaskTags() | orderTagBy:['use']"
                (click)="unselectTag(tag)"
                [tag]="tag">
            </todo-tag>-->



        <div class="task-body">

            <div *ngIf="!isEditMode"
                class="checkbox">
                <label>

                    <input type="checkbox"
                        *ngIf="task.child.length===0 && !task.assign"
                        (change)="doCheck()"
                        [(ngModel)]="task.checked">

                    <span *ngIf="task.child.length>0"
                        class="folder"
                        (click)="toggleFold()">
                        <i class="{{'fa fa-folder'+(task.unfold?'-open':'')}}"></i>
                    </span>

                    <img *ngIf="task.assign"
                        class="assigned-image"
                        [title]="getAssignedFriend().name"
                        [src]="getAssignedFriend().image">

                    <span [class.checked]="task.checked"
                        class="title">
                        {{task.title}}
                    </span>

                </label>
            </div>

            <div *ngIf="isEditMode">

                <textarea placeholder="Enter Task Text"
                    class="form-control"
                    autoFocus
                    [rows]="titleInput.value.length>1? 3:1"
                    (keyup)="checkTitleInput($event.target.value)"
                    [value]="task.title"
                    (keyup.enter)="updateTitle(titleInput.value);
                                  titleInput.value=''"
                    (keyup.escape)="isEditMode=task._isNewTaskForm"
                    #titleInput>
                </textarea>

                <div class="editor-menu">

                    <span *ngIf="isAllowEditorOk"
                        (click)="updateTitle(titleInput.value);
                            titleInput.value=''"
                        class="button">
                        <i class="fa fa-check-circle-o">
                            Ok</i>
                    </span>

                    <span *ngIf="!task._isLocked && !task._isNewTaskForm"
                        (click)="isEditMode=false"
                        class="button">
                        <i class="fa fa-ban">
                            Cancel</i>
                    </span>

                </div>

            </div>

            <progress-bar *ngIf="task.child.length>0"
                (click)="toggleFold()"
                [value]="getProgress()"></progress-bar>


        </div>

    </div>

    <ul class="inner-tasks"
        *ngIf="task.child.length>0 && task.unfold">
        <li *ngFor="let task of getChildTasks(task) | orderTaskBy:['titleNumber','completed']">
            <todo-task [task]="task"></todo-task>
        </li>
    </ul>

</div>