@import '../../../assets/colors';
@import '../../../assets/mixins';
.task {
  width: 40em;
  max-width: 95%;
  margin: 1em auto 0 auto;
  background: $task-bg-color;
  padding: .5em;
  @include rounded(4px);
  cursor: default;
}

.inner {
  margin-top: .3em;
}

modal-window {
  // float: right;
  &.task-menu {
    // margin-left: -5em;
    // right: -5em;
    // top: 1em;
    ul {
      @include menu;
      margin-top: .5em;
      li {
        @include menu-item;
      }
    }
  }
  &.tags-menu {
    // margin-right: 8em;
    // right: -8em;
    // top: 1em;
    ul {
      @include menu;
      margin-top: .5em;
      li {
        @include menu-item;
      }
    }
  }
  &.friends-menu {
    // margin-right: 17em;
    // left: -10.5em;
    // top: 1em;
    ul {
      @include menu;
      margin-top: .5em;
      li {
        @include menu-item;
      }
    }
  }
}

.inner-tasks {
  margin-left: 2em;
  list-style: none;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  @include rounded(4px);
}

.editor-menu {
  text-align: center;
}

.checkbox {
  span {
    font-size: 120%;
    word-wrap: break-word;
  }
  input {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    margin-left: -.2em;
    top: .2em;
  }
}

.checked {
  text-decoration: line-through;
}

.fa-star {
  color: #b00;
}

.date {
  color: #666;
  // font-size: 80%;
}

.fa {
  // position: relative;
  // top: -.2em;
  // opacity: .5;
  &:hover {
    // opacity: 1;
    cursor: pointer;
  }
}

.task-header {
  text-align: right;
  &>div {
    display: inline;
    // margin-left: auto;
    // margin-right: 0;
    // margin-left: .5em;
    padding: .2em .2em 0 .2em;
    // font-size: 80%;
    // float: right;
    // opacity: .8;
    // &:hover {
    //   text-decoration: line-through;
    // }
  }
}

.menu-trigger {
  // float: right;
  margin-left: .5em;
}

.assigned-image {
  position: relative;
  width: 3em;
  height: 3em;
  @include rounded(4px);
}

.button {
  margin: .5em;
  cursor: pointer;
  &:hover {
    color: #000;
  }
}

.friend-image {
  position: absolute;
  margin-top: -.3em;
  width: 3rem;
  height: 3rem;
  @include rounded(4px);
}

.friend-name {
  margin-left: 3.5rem;
  height: 1.5em;
}

.friend-tags {
  font-size: 80%;
  margin-left: 3.5rem;
  height: 1.5em;
}

// mobile responsivity
@media screen and (max-width: 450px) {
  .task {
    width: 100%;
    // margin: .3em auto 0 auto;
    // padding: .3em;
  }
  .inner {
    // margin-top: .2em;
  }
  .inner-tasks {
    // margin-left: .7em;
  }
}