@import '../../../assets/colors';
@import '../../../assets/mixins';
ul.toolbar {
    @include menu;
    overflow: hidden;
    background-color: $toolbar-bg-color;
    li {
        @include menu-item();
        text-align: center;
        float: left;
        &.right {
            float: right;
        }
        &.brand {
            font-family: serif;
            text-shadow: 0 0 5px #fff;
        }
    }
}

modal-window {
    &.tags-menu {
        left: 10.5em;
        top: 1em;
        ul {
            @include menu;
            margin-top: .5em;
            li {
                @include menu-item;
            }
        }
    }
    &.tag-edit {
        left: 13em;
        top: 1em;
        input[type="text"] {
            @include input-text;
            width: 6em;
            margin: 0 1em;
        }
        input[type="color"] {
            @include input-color;
            width: 6em;
            margin: 0 1em;
        }
        .label {
            padding: 1em;
            color: $menu-item-color;
        }
        .close {
            @include menu-item;
        }
    }
    &.friends-menu {
        left: 5em;
        top: 1em;
        ul {
            @include menu;
            padding-top: 1em;
            li {
                @include menu-item;
            }
        }
        .friend-image {
            width: 3rem;
            height: 3rem;
            @include rounded(4px);
        }
        .friend-tags {
            font-size: 80%;
            margin-left: 4rem;
            margin-top: -3.8em;
            margin-bottom: .5em;
            height: 1em;
            span {
                margin-right: .5em;
            }
        }
        .friend-edit-tags {
            margin-left: -1em;
        }
        .friend-name {
            font-size: 110%;
            margin-left: 4rem;
            margin-top: .8em;
            height: 1em;
        }
    }
}

// mobile responsivity
@media screen and (max-width: 450px) {
    ul.toolbar li.right, ul.toolbar li {
        float: none;
    }
}