<ul class="toolbar">
    <li class="brand">+ToDo
    </li>
    <li (click)="isShowFriends=true">
        <i class="fa fa-users"></i>Friends
    </li>
    <li (click)="isShowTags=true">
        <i class="fa fa-tags"></i>Tags
    </li>
    <li *ngIf="user" class="right">
        <i class="fa fa-sign-out"></i>Logout
    </li>
    <li *ngIf="!user" class="right">
        <i class="fa fa-sign-in"></i>Login
    </li>
    <li *ngIf="user" class="right">
        <i class="fa fa-user"></i>Profile
    </li>
</ul>

<!--friends menu-->
<modal-window [show]="isShowFriends"
    class="friends-menu up-arrow arrow-25"
    [multiSelect]="true"
    (close)="isShowFriends=false;isFriendEdit=false;isAddTagMode=false">
    <ul class="friends">
        <li *ngFor="let friend of user?.friends"
            (click)="selectedFriend=friend; isFriendEdit=!isFriendEdit;">
            <img [src]="friend.image"
                class="friend-image">
            <div class="friend-tags">
                <span *ngFor="let tag of getFriendTags(friend)">
                    <i class="fa fa-tag"
                        [style.color]="tag.color"></i>{{tag.name}}
                </span>
            </div>
            <div class="friend-name">{{friend.name}}</div>

            <ul class="friend-edit-tags"
                *ngIf="isFriendEdit && selectedFriend===friend">
                <li *ngFor="let tag of getFriendTags(selectedFriend)"
                    [style.borderLeft]="'5px solid '+tag.color"
                    (click)="unselectFriendTag(tag);isFriendEdit=false">
                    {{tag.name}}
                    <i class="fa fa-times"></i>
                </li>
                <li (click)="isAddTagMode=!isAddTagMode;isFriendEdit=false">
                    <i class="fa fa-tag"></i>Add
                    Tag
                    <ul *ngIf="isAddTagMode"
                        class="friend-edit-tags">
                        <li *ngFor="let tag of getAllTags() | orderTagBy:['use','ignore']:selectedFriend.tags"
                            (click)="selectTag(tag);isFriendEdit=false"
                            [style.borderLeft]="'5px solid '+tag.color">{{tag.name}}
                        </li>
                    </ul>
                </li>
                <li (click)="selectedFriend=null"
                    class="text-center">
                    <i class="fa fa-chevron-up"></i>
                </li>
            </ul>

        </li>
    </ul>
</modal-window>

<!--tags menu-->
<modal-window [show]="isShowTags"
    [multiSelect]="true"
    class="tags-menu up-arrow"
    (close)="isShowTags=false">
    <ul class="menu">
        <li *ngFor="let tag of getAllTags() | orderTagBy:['use']"
            (click)="selectedTag=tag;isTagEdit=true;isShowTags=false;"
            [style.borderLeft]="'5px solid '+tag.color">{{tag.name}}
        </li>
    </ul>
</modal-window>

<!--tags menu-->
<modal-window [show]="isTagEdit"
    *ngIf="selectedTag" [multiSelect]="true"
    class="tag-edit up-arrow arrow-25"
    (close)="isTagEdit=false">
    <div class="label">Name:
    </div>
    <input type="text" [value]="selectedTag.name"
        (input)="selectedTag.name=$event.target.value"
        autoFocus>
    <div class="label">Color:
    </div>
    <input type="color" [value]="selectedTag.color"
        (input)="selectedTag.color=$event.target.value"
        #colorInput>
</modal-window>