<todo-toolbar [user]="user"></todo-toolbar>

<task-filter [tags]="getUsedTags()"
    (hideCompleted)="hideCompleted=$event">
</task-filter>

<task-list [tasks]="getRootTasks()"
    [hideCompleted]="hideCompleted">
</task-list>