@import '../../../assets/colors';
@import '../../../assets/mixins';
.meter {
  height: 1.2em;
  position: relative;
  background: #eee;
  border: 1px solid #999;
  @include rounded;
  padding: 2px;
  margin: .3em 0;
}

.meter > span {
  display: block;
  height: 100%;
  @include rounded;
  background-color: #bbb;
  position: relative;
  overflow: hidden;
}

//todo global colors